<a
  [routerLink]="!item.items ? item.routerLink : null"
  (click)="toggleExpansion(index)"
  class="menu-link"
  [ngClass]="{
    active: isActive(),
    'has-children': item.items
  }"
  [attr.data-tooltip]="getTooltipText()"
  [attr.aria-label]="item.label"
>
  <i [class]="item.icon" class="menu-icon"></i>
  <span class="menu-text">{{ item.label }}</span>
  <ng-container *ngIf="item.items">
    <i
      class="pi pi-chevron-down"
      [ngStyle]="{
        transform: isExpanded() ? 'rotate(180deg)' : 'rotate(0deg)'
      }"
    ></i>
  </ng-container>
</a>

<!-- Submenú que se muestra solo si el item está expandido -->
<ul
  [ngClass]="{ submenu: true, expanded: expanded }"
  class="submenu-container pb-1"
  [ngStyle]="{ '--depth': depth }"
  *ngIf="item.items && expanded"
>
  <li
    *ngFor="let subItem of item.items; let i = index"
    class="submenu-item"
    [ngStyle]="{ '--depth': depth + 1 }"
  >
    <!-- Llamada recursiva para submenús -->
    <app-sidebar-item
      [item]="subItem"
      [depth]="depth + 1"
      [index]="i"
      [expanded]="currentExpandedItemIndex[depth + 1] === i"
      [currentExpandedItemIndex]="currentExpandedItemIndex"
      (expandChange)="handleExpandChange($event)"
    >
    </app-sidebar-item>
  </li>
</ul>
