/* Importación de PrimeIcons */
@import 'primeicons/primeicons.css';

/* Estilos básicos globales */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
}

/* Configuración para PrimeNG */
.p-toast {
  z-index: 9999;
}


